<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<body>
  <table>
  <tbody>
     <tr>
      <td> </td><td></td> <td> 姓名 </td> <td> 职务 </td> <td> 电话</td> <td> 手机 </td> <td> emial</td> <td> 传真</td> <td> 备注</td>
    </tr><tr>
      <td class ="pull-right first padd">单位名称:</td><td class ="item"><input type="text" style="width:200px;" name ="customer[name]"/></td> <td><input type="text" style="width:100px;" name ="link1"/></td> <td><input type="text" style="width:100px;" name ="zhiwu1"/></td> <td> <input type="text" style="width:100px;" name ="dh1"/></td> <td> <input type="text" style="width:100px;" name = "sj1" />  </td><td><input type="text" style="width:100px;" name = "em1" /> </td><td><input type="text" style="width:100px;" name = "cz1"/></td> <td><input type="text" style="width:100px;" name = "bz1" /></td>
    </tr><tr>
      <td class ="pull-right">电话:</td><td class ="item"><input type="text" style="width:200px;" name ="customer[phone]"/></td> <td><input type="text" style="width:100px;" name ="link2" /></td> <td><input type="text" style="width:100px;" name ="zhiwu2"/></td> <td> <input type="text" style="width:100px;" name ="dh2"/></td> <td> <input type="text" style="width:100px;" name = "sj2"/>  </td><td><input type="text" style="width:100px;" name = "em2" /> </td><td><input type="text" style="width:100px;" name = "cz2" /></td> <td><input type="text" style="width:100px;" name = "bz2" /></td>
    </tr><tr>
      <td class ="pull-right">网址:</td><td class ="item"><input type="text" style="width:200px;" name ="customer[website]"/></td> <td><input type="text" style="width:100px;" name ="link3"/></td> <td><input type="text" style="width:100px;" name ="zhiwu3"/></td> <td> <input type="text" style="width:100px;" name = "dh3"/></td> <td> <input type="text" style="width:100px;" name = "sj3" />  </td><td><input type="text" style="width:100px;" name = "em3" /> </td><td><input type="text" style="width:100px;" name = "cz3" /></td> <td><input type="text" style="width:100px;" name = "bz3" /></td>
    </tr><tr>
      <td class ="pull-right">Email:</td><td class ="item"><input type="text" style="width:200px;" name ="customer[email]" /></td> <td><input type="text" style="width:100px;" name ="link4"/></td> <td><input type="text" style="width:100px;" name = "zhiwu4"/></td> <td> <input type="text" style="width:100px;" name = "dh4"/></td> <td> <input type="text" style="width:100px;" name ="sj4" />  </td><td><input type="text" style="width:100px;" name = "em4" /> </td><td><input type="text" style="width:100px;" name = "cz4"/></td> <td><input type="text" style="width:100px;" name ="bz4"/></td>
    </tr><tr>
      <td class ="pull-right">地址:</td><td class ="item"><input type="text" style="width:200px;" name ="customer[address]" /></td> <td><input type="text" style="width:100px;" name ="link5"/></td> <td><input type="text" style="width:100px;" name ="zhiwu5"/></td> <td> <input type="text" style="width:100px;" name ="dh5"/></td><td><input type="text" style="width:100px;" name = "sj5" /></td>  <td> <input type="text" style="width:100px;" name ="em5"/>  </td><td><input type="text" style="width:100px;" name = "cz5"/> </td><td><input type="text" style="width:100px;" name = "bz5" /></td>
    </tr><tr>
      <td class ="pull-right">地区:</td><td class ="item">
          <%= f.collection_select(:propers,City.all,:id,:name)%>
      </td> <td><input type="text" style="width:100px;" name ="link6"/></td> <td> <input type="text" style="width:100px;" name ="zhiwu6"/></td> <td> <input type="text" style="width:100px;" name = "dh6"/>  </td><td><input type="text" style="width:100px;" name ="sj6"/></td> <td><input type="text" style="width:100px;" name = "em6"/> </td><td><input type="text" style="width:100px;" name = "cz6"/></td> <td><input type="text" style="width:100px;" name ="bz6"/></td>
    </tr><tr>
      <td class ="pull-right">库转换:</td><td class ="item">
        <%= select_tag 'customer[status]', options_for_select([['重点库', 1], ['会员库', 0],['临时库', 2], ['垃圾库', 3]]), :style=>"width:220px;" %>
      </td> <td><input type="text" style="width:100px;" name ="link7" /></td> <td> <input type="text" style="width:100px;" name ="zhiwu7"/></td> <td> <input type="text" style="width:100px;" name = "dh7"/>  </td><td><input type="text" style="width:100px;" name ="sj7"/> </td><td><input type="text" style="width:100px;" name = "em7"/></td> <td><input type="text" style="width:100px;" name ="cz7"/><td><input type="text" style="width:100px;" name = "bz7"/></td> </td>
    </tr>
    <tr align ="center">
      <td colspan="9" align ="center" >
          <%= f.submit '提交', :class => 'btn btn-primary' %>
           <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nil, :class => 'btn' %>
      </td>
    </tr>
  </tbody>
</table>
<br />
</body>
 
<% end %>
